@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  direction: rtl;
}

:root {
  --color-bg: #ff7272;
  --color-bg-variant: #a78e8c;
  --color-primary: #eeffd4;
  --color-primary-variant: #d1a49f;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease; 

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  line-height: 1.7;
  background: var(--color-bg);
  color:var(--color-white);
  
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.55rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.nav-logo {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 2rem;
  top: 10px;

}
